<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunveee.xiucailv.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.sunveee.xiucailv.domain.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_code" jdbcType="VARCHAR" property="userCode" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="login_name" jdbcType="VARCHAR" property="loginName" />
        <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
        <result column="login_password_salt" jdbcType="VARCHAR" property="loginPasswordSalt" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_code, name, login_name, login_password, login_password_salt, type, status, gmt_create, gmt_update
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" /> from user where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.sunveee.xiucailv.domain.User">
        insert into user (id, user_code, name, login_name, login_password, login_password_salt, type, status, gmt_create, gmt_update) values (#{id,jdbcType=BIGINT}, #{userCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR}, #{loginPasswordSalt,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.sunveee.xiucailv.domain.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="loginPassword != null">
                login_password,
            </if>
            <if test="loginPasswordSalt != null">
                login_password_salt,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtUpdate != null">
                gmt_update,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="loginPassword != null">
                #{loginPassword,jdbcType=VARCHAR},
            </if>
            <if test="loginPasswordSalt != null">
                #{loginPasswordSalt,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtUpdate != null">
                #{gmtUpdate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sunveee.xiucailv.domain.User">
        update user
        <set>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="loginPassword != null">
                login_password = #{loginPassword,jdbcType=VARCHAR},
            </if>
            <if test="loginPasswordSalt != null">
                login_password_salt = #{loginPasswordSalt,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtUpdate != null">
                gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sunveee.xiucailv.domain.User">
        update user set user_code = #{userCode,jdbcType=VARCHAR}, name = #{name,jdbcType=VARCHAR}, login_name = #{loginName,jdbcType=VARCHAR}, login_password = #{loginPassword,jdbcType=VARCHAR}, login_password_salt = #{loginPasswordSalt,jdbcType=VARCHAR}, type = #{type,jdbcType=VARCHAR}, status = #{status,jdbcType=VARCHAR}, gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}, gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP} where id = #{id,jdbcType=BIGINT}
    </update>
    <!-- 列表加载（分页） -->
    <select id="selectUserPage" parameterType="com.sunveee.xiucailv.util.PageEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" /> from user
        <if test="pageNo!=null and pageSize!=null">
            limit #{startNo, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
        </if>
    </select>
    <!-- 返回总数 -->
    <select id="countAll" resultType="java.lang.Integer">
        select count(*) from user
    </select>
</mapper>